/nbproject/private/
/build/
/AutoescuelaGOCE.FactoriasEster/nbproject/private/
/AutoescuelaGOCE.FactoriasEster/build/
/AutoescuelaGOCE.FactoriasEster/dist/
/dist/
/Autoescuela.Factorias/nbproject/private/